html,body {
    margin:0;
    padding:0
}

body {
    font: 85%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;background: #fff;
}

a { color: #0066B3; background: inherit; text-decoration: none;}
h1 { font: bold 2.1em Arial, Arial, Sans-Serif; color: #036DA7 }
h2 { font: bold 1.3em Arial, Arial, Sans-Serif; padding: 0; margin:0; }
ul { padding: 0; margin: 0;}
li { list-style-type: none; margin: 5px 0; padding: 2px 5px; background:#ccc}

#header {
    width: 100%;
    background: #BBD9EE; 
    font: bold 1.3em Arial, Arial, Sans-Serif
}
#title{text-align: center}
#menu {text-align: left; margin: 0 10px}

#content {
    margin: 0;
    padding: 5px;
    background: #fff;
}
#menuList {
    background: #eee;
}

#leftList {
    float: left;
    width: 48%;
    background : #FFF6BF;
}
#rightList {
    float: right;
    width: 48%;
    background : #FFF6BF;
}


form {
    margin:0px; 
    display:inline
}

input, button {
    font-family: Helvetica ;
    font-size: 0.8em;
    height: 30px;
    width: 31%;
    margin: 2% 0;
    padding: 0;
    background-color: #ffffff;
}

.order { background-color: #ee00ee}
.unorder {background-color: #ffffff}
