html,body {
    margin:0;
    padding:0
}

body {
    font: 85%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;background: #fff;
}

a { color: #0066B3; background: inherit; text-decoration: none;}
h1 { font: bold 2.1em Arial, Arial, Sans-Serif; color: #036DA7 }
h2 { font: bold 1.3em Arial, Arial, Sans-Serif; padding: 0; margin:0; }
ul {  padding: 0; margin: 0;}
li { list-style-type: none;}

#header {
    width: 100%;
    background: #BBD9EE; 
    font: bold 1.3em Arial, Arial, Sans-Serif
}
#title{text-align: left}
#menu {text-align: right; margin: 0 10px}

#content {
    margin: 0;
    padding: 5px;
    background: #fff;
}
#menuList {
    float: left;
    width: 60%;
    background: #eee;
}
#orderList {
    float: right;
    width: 35%;
    background : #FFF6BF;
}


form {
    margin:0px; 
    display:inline
}

input {
    font-family: Helvetica ;
    font-weight: bold ;
    font-size: 1em;
    height: 40px;
    width: 80px;
    border: 1px solid black ;
    margin-top: 10px ;
    margin-bottom: 10px ;
    background-color: white ;
}
